.App {
  text-align: center;
  background-color: skyblue;
}

.Component {
  border: 3px dashed #01a76a;
  padding: 10px;
  /* background-color: skyblue; */
  font-family: sans-serif;
  color: #626262; 
} 

/* variable targets a Variable that is the child of a Component not really functional */
.Variable {   
  color: #fa492b;
}

button {
  border: 5px solid #0c74df;
  margin: 10px;
  background-color: #0c74df;
  color: white;
  /* sus, seems the button can only be bold or normal, not light */
  font-weight: 200;  
  border-radius: 5px;
}